@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 669px;
    height: 486px;
    background-color: hsl(0, 0%, 100%);
    padding-bottom: 7px;
    border-radius: 10px;
}
.image img{
  height: 486px;
  border-radius: 10px 0 0 10px ;
}
.textbox{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 3%;
    gap: 40px;
}
.textbox span{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: hsl(228, 12%, 48%);
}
#desc{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}
.textbox h1{
    font-family: "Fraunces", serif;
    color: hsl(212, 21%, 14%);
    font-size: 35px;
}
.cost{
    display: flex;
    gap: 30px;
    align-items: center;
}
button{
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 10px;
    background-color:hsl(158, 36%, 37%);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
button img{
    height: 20px;
}
button:hover{
    background-color:hsl(159, 61%, 11%);
    cursor: pointer;
}
#a{
    font-family: "Fraunces", serif;
    color: hsl(158, 36%, 37%);
    font-size: 35px;
    font-weight: 700;
}
#b{
font-size: 15px;
text-decoration: line-through;
}